@{
    ViewBag.Title = "Home Page";


}
@using Pro_Learning.Models;
@{
    var userrole = string.Empty;
    if (Session["UserData"] != null)
    {
        UserList userData = (UserList)Session["UserData"];
        userrole = userData.Role;
    }
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Courses</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <section class="course">
            <div class="row">
                <div class="col-lg-12">
                    <div class=""><h3>Courses We Offer</h3><span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus, vero mollitia velit ad consectetur. Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non, magni consequuntur quam.</div>
                </div>
            </div>
            @if (userrole == "Admin")
            {
                <div class="row">
                    <div id="divAddCourse" class="col-lg-12">
                        <input type="text" id="txtTitle" />
                        <input type="text" id="txtDesc" />
                        <button id="btnSubmit" value="Add Course">Add Course</button>
                    </div>
                </div>
            }
            <div class="row" id="divCourseRow1"></div>
            <div class="row" id="divCourseRow2"></div>
            <div class="row" id="divCourseRow3"></div>

        </section>
    </div>

    @*
        <div id="notis"></div>
        <div id="err"></div>*@
</section>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

<script type="text/javascript">

</script>
